@import "tailwindcss";

body {
  /* background-image: url("/images/bg-image.jpg");
   */
   background-color: #000001;
  background-size: cover;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}
